h1, h2, h3, h4, h5, h6, html, body, div, span, p, a, div {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Lucida Grande', 'Calibri', Helvetica, Arial, sans-serif;
    display: block;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    background: #f2f2f2;
    box-sizing: border-box;
}

header {
    display: flex;
    flex-direction: column;
    background: linear-gradient(to top, #373737, #212121);
    color: #fff;
    padding: 20px 0 20px;
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
    width: 100%;
}

footer {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    background-color: #212121;
    color: #fff;
    padding: 20px 0 20px;
    width: 100%;
}


main {
    display: flex;
    gap: 10px;
    justify-content: space-between;
}


.inner {
    margin: auto;
    max-width: 612px;
    width: 100%;
    padding: 20px 10px;
    align-items: center;
}


.list-item {
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid black;
    background-color: #f9f9f9;
    text-align: center;
}

.read-more {
    color: blue;
    cursor: pointer;
    height: 20px;
    width: 100px;
    margin-bottom: 20px;
}

.read-more:hover {
    color: white;
    background-color: blue;
}


#left-column, #center-column, #right-column {
    flex-basis: calc(50% - 20px);
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}

#center-column {
    align-items: center;
}

#left-column {
    flex-basis: calc(25% - 20px);
}

#list-item {
    margin: 10px;
}

#right-column {
    flex-basis: calc(25% - 20px);
}


.box {
    background-color: #ddd;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    button {
        margin: 5px;
        width: 200px;
    }

    h5 {
        text-align: left;
    }
}

#generateTable, #runNash, #play, #previous, #next {
    background-color: grey;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#runNash {
    background-color: green;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
    text-align: center;

    input {
        width: 50px;
    }
}

th {
    background-color: #f2f2f2;
}

button {
    align-items: center;
    margin: 6px;
}

input {
    margin: 6px;
}

.actions-container {
    height: calc(100% - 40px);
    overflow-y: auto;
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    box-sizing: border-box;
}

.serial_dic {
    display: flex;
    flex-direction: column;
}

.left-zone, .right-zone {
    flex-basis: calc(30% - 20px);
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}

.right-zone {
    flex-basis: calc(70% - 20px);
}