h1, h2, h3, h4, h5, h6, html, body, div, span, p, a, div {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Lucida Grande', 'Calibri', Helvetica, Arial, sans-serif;
    display: block;
    color: inherit;
    text-decoration: none;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: #f2f2f2;
    box-sizing: border-box;

}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to top, #373737, #212121);
    color: #fff;
    padding: 20px;
    font-size: 20px;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

a:hover {
    color: hotpink;
}

.header-left {
    display: flex;
    align-items: center;
}

.header-left img {
    margin-right: 20px;
}

.header-text {
    text-align: left;
}

.header-right {
    display: flex;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

nav a {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #212121;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #575757;
}

.dropdown:hover .dropdown-content {
    display: block;
}


footer {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    background-color: #212121;
    color: #fff;
    padding: 20px 0 20px;
}


main {
    display: flex;
    gap: 10px;
    justify-content: space-between;
}


.inner {
    margin: auto;
    max-width: 612px;
    width: 100%;
    padding: 20px 10px;
    align-items: center;
}


.list-item {
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid black;
    background-color: #f9f9f9;
    text-align: center;
}

.read-more {
    color: blue;
    cursor: pointer;
    height: 20px;
    width: 100px;
    margin-bottom: 20px;
}

.read-more:hover {
    color: white;
    background-color: blue;
}


#left-column, #center-column, #right-column {
    flex-basis: calc(50% - 20px);
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}

#center-column {
    align-items: center;
}

#left-column {
    flex-basis: calc(25% - 20px);
}

#list-item {
    margin: 10px;
}

#right-column {
    flex-basis: calc(25% - 20px);
}


.box {
    background-color: #ddd;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    button {
        margin: 5px;
        width: 200px;
    }

    h5 {
        text-align: left;
    }
}

#generateTable, #runNash, #play, #previous, #next {
    background-color: grey;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#runNash {
    background-color: green;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
    text-align: center;

    input {
        width: 50px;
    }
}

th {
    background-color: #f2f2f2;
}

button {
    align-items: center;
    margin: 6px;
}

input {
    margin: 6px;
}

#sliderDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;

    /* Chrome, Safari, Edge, Opera */

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */

    input[type=number] {
        -moz-appearance: textfield;
    }
}

#sliderValue {
    width: 30%;
    text-align: center;
}

.sliderValue {
    align-items: center;
    width: auto;
}

.actions-container {
    height: calc(100% - 40px);
    overflow-y: auto;
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    box-sizing: border-box;
}

.serial_dic {
    display: flex;
    flex-direction: column;
}

.left-zone, .right-zone {
    flex-basis: calc(30% - 20px);
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}

.right-zone {
    flex-basis: calc(70% - 20px);
}

#preferences_table {
    table, th, td {
        border-collapse: collapse;
        border: 0;
        text-align: left;
        border-top: 1px solid black;
    }

}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

nav a {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #212121;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #575757;
}

.dropdown:hover .dropdown-content {
    display: block;
}